.headerContainer {
  display: flex;
  justify-content: space-between;
  background-color: #1c2b35;
  color: white;
  height: 70px;
}
.headerTittle {
  margin-left: 40px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  align-items: center;
}
.headerTittle a {
  margin-left: 5px;
}
.headerTittle a:hover {
  color: white;
}
.headerSubTittle {
  display: flex;
  align-items: center;
}
.headerSubTittle a ,.loginSty{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  margin-right: 50px;
}
.loginSty:hover{
  color: orange;
  cursor: pointer;
}
.headerTittle img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
}
.popupContainer {
  border: 1px solid rgb(221, 220, 220);
  height: 220px;
  width: 200px;
  position: absolute;
  top: 70px;
  left: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(251, 251, 251);
}
.popupContainer p {
  margin-top: 14px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
  animation-duration: 500ms;
}
.popupContainer p:hover {
  color: orange;
}
#light {
  color: black;
}
#dark {
  color: rgb(255, 0, 0);
}
.loggedUserStyle{
  text-align: center;
}
.loggedUserStyle p{
  margin: 0px;
  font-size: 14px;
}
.loggedUserStyle p:hover{
  color: white;
  cursor: ne-resize;
}
